{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "quoteProps": "as-needed",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "singleQuote": true,
        "svelteAllowShorthand": true,
        "svelteBracketNewLine": true
      }
    }
  ]
}
